<mat-tab-group [selectedIndex]="selectedIndex" (selectedIndexChange)="selectedIndex = $event">
	<mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
		<ng-template mat-tab-label>
			<span>{{tab}}</span>
			<mat-icon (click)="removeTab(index)" *ngIf="index > 0">
				cancel
			</mat-icon>
		</ng-template>
		<div *ngIf="index==0">
			<a mat-raised-button class="example-add-tab-button" (click)="addTab()">
				Add Tab
			</a>
		</div>
		Contents for {{tab}} tab : Active tab {{selectedIndex}}
	</mat-tab>
</mat-tab-group>