<div>
	<button mat-raised-button
          class="example-add-tab-button"
          (click)="addTab(selectAfterAdding.checked)">
    Add new tab
  </button>
</div>

<mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
	<mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
		<ng-template mat-tab-label>
			<span>{{tab}}</span>
			<mat-icon (click)="removeTab(index)" *ngIf="index > 0">
				cancel
			</mat-icon>
		</ng-template>
		Contents for {{tab}} tab
	</mat-tab>
</mat-tab-group>